* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  line-height: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info {
  font-size: 20px;
}

.score {
  flex-direction: row;
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}

#restart {
  padding-top: 40px;
  display: none;
}

.line {
  padding-bottom: 10px;
}